.Section5{
    position: absolute;
width: 1240px;
height: 693px;
left: 100px;
top: 3696px;
}
.redbx{
    border: 2px solid red;
}
*{
    box-sizing: border-box;
}
#boxa{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 455px;
height: 100px;
left: 0px;
top: 0px;

}
#boxa1{
    width: 107px;
height: 34px;

/* Subtitle 1 */

font-family: 'Axiforma';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 190%;
/* or 34px */

text-transform: uppercase;

/* Outline dark */

color: #B0B0C0;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#boxa2{
    width: 455px;
height: 62px;

/* H2 */

font-family: 'Axiforma';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 130%;
/* or 62px */


/* Text Primary */

color: #181B32;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#faq1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 36px 56px;
gap: 10px;

position: absolute;
width: 610px;
height: 294px;
left: 630px;
top: 399px;

/* Primary 200 */

background: #524FD5;
border-radius: 40px;
}
#faq-1{
    width: 404px;
height: 36px;

/* Title */

font-family: 'Axiforma';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 36px;
/* identical to box height, or 180% */


/* Background - White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
#faq-2{
    /* width: 492px;
height: 170px; */

/* Body text - 18 */

font-family: 'Axiforma';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 190%;
/* or 34px */


/* Background - White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#faq2{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 36px 56px;
gap: 10px;

position: absolute;
width: 610px;
height: 108px;
left: 630px;
top: 271px;

border: 1px solid rgba(176, 176, 192, 0.3);
border-radius: 40px;
}
#faq-2{
    font-family: 'Axiforma';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 190%;
/* or 34px */


/* Background - White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
z-index: 0;
}

#faq3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 36px 56px;
    gap: 10px;
    
    position: absolute;
    width: 610px;
    height: 108px;
    left: 630px;
    top: 143px;
    
    border: 1px solid rgba(176, 176, 192, 0.3);
    border-radius: 40px;
}
#faq4{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 36px 56px;
gap: 10px;

position: absolute;
width: 610px;
height: 108px;
left: 0px;
top: 399px;

border: 1px solid rgba(176, 176, 192, 0.3);
border-radius: 40px;
}

#faq5 {
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 36px 56px;
gap: 10px;

position: absolute;
width: 610px;
height: 108px;
left: 0px;
top: 271px;

border: 1px solid rgba(176, 176, 192, 0.3);
border-radius: 40px;
}
#faq-5{
    width: 449px;
    height: 36px;
    
    /* Title */
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 180% */
    
    
    /* Text Primary */
    
    color: #181B32;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}






#faq6{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 36px 56px;
gap: 10px;

position: absolute;
width: 610px;
height: 108px;
left: 0px;
top: 143px;

border: 1px solid rgba(176, 176, 192, 0.3);
border-radius: 40px;
}
.faq-3{
    width: 449px;
height: 36px;

/* Title */

font-family: 'Axiforma';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 36px;
/* identical to box height, or 180% */


/* Text Primary */

color: #181B32;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}
.addbtn{
    position: absolute;
width: 32px;
height: 32px;
left: 490px;
top: 37px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}